<style>
  .mydz { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }

  html, body { height: 100%; }
</style>

<div class="container">

  <div class="navbar navbar-default">
      <div class="navbar-header">
          <a class="navbar-brand" href>Fotoğraf Ekle</a>
      </div>
  </div>

  <div class="row">

      <div class="col-md-3">

          <h3>Seçme Alanı</h3>

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="up"
               class="well mydz">
			Temel Seçme Alanı
          </div>

          <div ng2FileDrop
               [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
               (fileOver)="fileOverAnother($event)"
               [uploader]="up"
               class="well mydz">
              Başka Seçme Alanı
          </div>

          Çoklu Yükleme
          <input type="file" ng2FileSelect [uploader]="up" multiple  /><br/>

          Tekli Yükleme
          <input type="file" ng2FileSelect [uploader]="up" />
      </div>

      <div class="col-md-9" style="margin-bottom: 40px">

          <h3>Yükleme Kuyruğu</h3>
          <p>Kuyruk Boyutu: {{ uploader.queue.length }}</p>

          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Ad</th>
                  <th>Boyut</th>
                  <th>Süreç</th>
                  <th>Durum</th>
                  <th>Gerçekleşen</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td *ngIf="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                  <td *ngIf="uploader.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                  </td>
                  <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                  </td>
                  <td nowrap>
                      <button type="button" class="btn btn-success btn-xs"
                              (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> Yükle
                      </button>
                      <button type="button" class="btn btn-warning btn-xs"
                              (click)="item.cancel()" [disabled]="!item.isUploading">
                          <span class="glyphicon glyphicon-ban-circle"></span> Çık
                      </button>
                      <button type="button" class="btn btn-danger btn-xs"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Kaldır
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>

          <div>
              <div>
                  Kuyruk Süreci
                  <div class="progress" style="">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
              </div>
              <button type="button" class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  <span class="glyphicon glyphicon-upload"></span> Hepsini Yükle
              </button>
              <button type="button" class="btn btn-warning btn-s"
                      (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                  <span class="glyphicon glyphicon-ban-circle"></span> Hepsini Kapat
              </button>
              <button type="button" class="btn btn-danger btn-s"
                      (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                  <span class="glyphicon glyphicon-trash"></span> Hepsini Kaldır
              </button>
          </div>

      </div>

  </div>

</div>